@model TheDiscAppMVC.Models.Disc.DiscDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Disc : @Model.Name</h2>

<hr />

<div class="container">
  <div class="row">
    <div class="col-4">
        <br><b>@Html.DisplayNameFor(model => model.Stability)</b> : @Html.DisplayFor(model => model.Stability)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Brand)</b> : @Html.DisplayFor(model => model.Brand)
        <br><p></p><b>@Html.DisplayNameFor(model => model.DiscType)</b> : @Html.DisplayFor(model => model.DiscType)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Speed)</b> : @Html.DisplayFor(model => model.Speed)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Glide)</b> : @Html.DisplayFor(model => model.Glide)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Turn)</b> : @Html.DisplayFor(model => model.Turn) 
        <br><p></p><b>@Html.DisplayNameFor(model => model.Fade)</b> : @Html.DisplayFor(model => model.Fade)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Plastic)</b> : @Html.DisplayFor(model => model.Plastic)
    </div>
    <div class="col-6">
        <br><b>@Html.DisplayNameFor(model => model.MaxWeight)</b> : @Html.DisplayFor(model => model.MaxWeight)
        <br><p></p><b>@Html.DisplayNameFor(model => model.OuterDiameter)</b> : @Html.DisplayFor(model => model.OuterDiameter)
        <br><p></p><b>@Html.DisplayNameFor(model => model.InnerDiameter)</b> : @Html.DisplayFor(model => model.InnerDiameter)
        <br><p></p><b>@Html.DisplayNameFor(model => model.RimWidth)</b> : @Html.DisplayFor(model => model.RimWidth)
        <br><p></p><b>@Html.DisplayNameFor(model => model.RimDepth)</b> : @Html.DisplayFor(model => model.RimDepth)
        <br><p></p><b>@Html.DisplayNameFor(model => model.RimConfiguration)</b> : @Html.DisplayFor(model => model.RimConfiguration)
        <br><p></p><b>@Html.DisplayNameFor(model => model.Height)</b> : @Html.DisplayFor(model => model.Height)
    </div>
    <div>
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { style = "text-decoration: none;"}) |
    <a class="action-links" asp-action="Index">Back to List</a>
    </div>
  </div>
</div>
