@model IEnumerable<TheDiscAppMVC.Models.Disc.DiscListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Disc Index</h1>

<hr />

<p style="text-decoration: none">
    <a class="action-links btn btn-primary btn-secondary" asp-action="Create">Add a new disc</a>
</p>

@foreach (var item in Model)
{
    <div class="card">
        <img src="./Images/image-not-found.png" class="card-img-top rounded mx-auto d-block" alt="image-not-found">
        <div class="card-body">
            <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h5>   
            <p class="text-muted text-center">@Html.DisplayFor(modelItem => item.Brand)</p>
            <p class="card-text text-center">
                @Html.DisplayFor(modelItem => item.Speed) / 
                @Html.DisplayFor(modelItem => item.Glide) / 
                @Html.DisplayFor(modelItem => item.Turn) / 
                @Html.DisplayFor(modelItem => item.Fade)
            </p>
            <p class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "text-decoration: none;"}) | 
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "text-decoration: none;"}) | 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = "text-decoration: none;"})
            </p>
        </div>
    </div>
}
